// @import 'materialize-css/dist/css/materialize';
// @import '../stylesheets/application';
@import "materialize-css/sass/components/_color-variables";
$primary-color: #ad1457 !default;
$secondary-color: #4db6ac !default;
// @import 'materialize-css/dist/css/materialize';
@import 'node_modules/materialize-css/sass/materialize.scss';

body, html {
  height:100%;
}

.main-cont {
  min-height: 660px;
}