@import '../../assets/stylesheets/application';
@import "materialize-css/sass/components/_color-variables";
$primary-color: #ad1457 !default;
$secondary-color: #4db6ac !default;
@import 'node_modules/materialize-css/sass/materialize.scss';

body, html {
  height:100%;
  background-color: #eeeeee;
}

.main-cont {
  min-height: 660px;
}

.btn-default {
  color: #000000 !important;
  background-color: #eeeeee !important;
}

.sidebar {
  transform: translateX(0px);
  position: relative;
  width: inherit;
}